.App {
  /* text-align: center; */
}

.App-logo {
    align-self:flex-start;
    height: 5em;
    pointer-events: none;
}

.Blogpost {
    text-align: left;
    margin: 2em;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #30362f;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #96C5F7;
}

.nav-bar {
    background-color: #30362F;
    overflow: auto;
}

.nav-group {
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.nav-item {
    color: white;
    text-decoration: none;
}

.post {
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/